h1{
    color: aquamarine;
}
    /*text-align: center;
    color: rgb(192, 255, 91);
}
/*h2{
    text-align: left;
    color: aqua;
}
h3{
    text-align: right;
    color: brown;
}
p{
    text-align: center;
    color: forestgreen;
}

